{% extends '../base.html' %}

{% block css_link %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
			<div id="board" class="delete-form">
				<form method="post" action="/board/delete">
					{% csrf_token %}
					<input type='hidden' name="no" value="{{ request.GET.no }}">
					<label>비밀번호</label>
					<input type="password" name="password">
					<input type="submit" value="확인">
				</form>
				<a href="/board">글 목록 리스트</a>
			</div>
{% endblock %}